.ckeditor-fullscreen-mode {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
}

.ckeditor-fullscreen-mode .ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline,
#fullscreeneditor .ck.ck-editor__main {
    height: 100%;
}

/*.ckeditor-fullscreen-mode .source-editor {*/
/*    width: 100% !important;*/
/*    height: 100% !important;*/
/*}*/

.ckeditor-fullscreen-wrap {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 9999;
    background: #f0f0f0;
}

.source-editor-wrap--fullscreen {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background: #f0f0f0;
    height: 100% !important;
    width: 100% !important;
}
.source-editor-wrap--fullscreen .source-editor {
    height: 100% !important;
    width: 100% !important;
}
